In [1]:
import pandas as pd
import numpy as np
df_user=pd.read_csv('./cache/user_table.csv')
df_user.head()

   uid  click_num  buy_num  buy_click_ratio
0    3        336        0         0.000000
1    4        189        5         0.026455
2   11         63        1         0.015873
3   16         31        0         0.000000
4   17       2435        0         0.000000

In [2]:
df_user[df_user['buy_num']==0].tail()

           uid  click_num  buy_num  buy_click_ratio
196016  649941        110        0              0.0
196017  649942         51        0              0.0
196019  649959         23        0              0.0
196022  649981         48        0              0.0
196024  649987         31        0              0.0

In [3]:
df_user[df_user['buy_num']!=0].tail()

           uid  click_num  buy_num  buy_click_ratio
196025  649988        182       10         0.054945
196026  649989        729        2         0.002743
196027  649990        274        9         0.032847
196028  649992        131        4         0.030534
196029  649997         82       12         0.146341

In [4]:
df_user.head()

   uid  click_num  buy_num  buy_click_ratio
1    4        189        5         0.026455
2   11         63        1         0.015873
5   18         23        2         0.086957
6   19        113        1         0.008850
7   20         16        2         0.125000

In [6]:
# 输出格式设置，保留四位小数
pd.options.display.float_format='{:,.4f}'.format
df_user.describe()

               uid    click_num      buy_num  buy_click_ratio
count 108,857.0000 108,857.0000 108,857.0000     108,857.0000
mean  325,246.8951     398.8490       5.3098           0.0309
std   187,447.8635     513.0276       7.1412           0.0566
min         4.0000       1.0000       1.0000           0.0001
25%   162,916.0000      99.0000       1.0000           0.0070
50%   325,808.0000     230.0000       3.0000           0.0156
75%   486,682.0000     501.0000       6.0000           0.0339
max   649,997.0000  10,122.0000     259.0000           1.0000

In [7]:
df_user[(df_user['buy_num']<2) & (df_user['click_num']>6000)]

           uid  click_num  buy_num  buy_click_ratio
60057   199561       6012        1           0.0002
97018   321875       7264        1           0.0001
192593  638882       6052        1           0.0002

In [10]:
#同理统计商品信息
df_goods=pd.read_csv('goods_table.csv')
df_goods.head()

    spu_id  brand_id  cat_id  click_num  buy_num  buy_click_ratio
0   621837  10010304     297    44.0000   0.0000           0.0000
1  1698431  10012546     271    13.0000   0.0000           0.0000
2   653495  10026906    1056     1.0000   0.0000           0.0000
3  1426380  10012968     297     1.0000   0.0000           0.0000
4   200496  10004565    1056    16.0000   0.0000           0.0000

In [12]:
#针对每一件商品，统计其点击购买
df_sp =  df_goods[['spu_id', 'click_num', 'buy_num', 'buy_click_ratio']]
df_sp.head()

    spu_id  click_num  buy_num  buy_click_ratio
0   621837    44.0000   0.0000           0.0000
1  1698431    13.0000   0.0000           0.0000
2   653495     1.0000   0.0000           0.0000
3  1426380     1.0000   0.0000           0.0000
4   200496    16.0000   0.0000           0.0000

In [14]:
df_sp = df_sp[df_sp['buy_num']>0]#剔除没人买过的商品
df_sp.head()

     spu_id  click_num  buy_num  buy_click_ratio
15  1731056   387.0000   3.0000           0.0078
22  1843018    63.0000   1.0000           0.0159
30   462130    14.0000   1.0000           0.0714
31  1279048     3.0000   1.0000           0.3333
41   161638    95.0000   2.0000           0.0211

In [15]:
df_sp.describe()

              spu_id    click_num      buy_num  buy_click_ratio
count   234,536.0000 234,536.0000 234,536.0000     234,536.0000
mean  1,056,104.1906     108.3979       2.4645           0.0691
std     610,254.0032     207.4349       6.8163           0.1137
min           5.0000       1.0000       1.0000           0.0003
25%     527,495.5000      18.0000       1.0000           0.0156
50%   1,055,871.5000      46.0000       1.0000           0.0355
75%   1,583,765.2500     113.0000       2.0000           0.0769
max   2,114,307.0000   7,705.0000     643.0000           1.0000

In [18]:
df_sp[(df_sp['buy_num']<2) & (df_sp['click_num']>2000)]

          spu_id  click_num  buy_num  buy_click_ratio
90519    1261881 2,858.0000   1.0000           0.0003
319064   2063191 2,304.0000   1.0000           0.0004
392885   1976027 2,683.0000   1.0000           0.0004
461389   1101741 2,110.0000   1.0000           0.0005
810397    564449 2,261.0000   1.0000           0.0004
884540   1044530 2,341.0000   1.0000           0.0004
916625    385994 2,267.0000   1.0000           0.0004
1156468  1733289 2,814.0000   1.0000           0.0004
1179561  2006587 2,046.0000   1.0000           0.0005
1276865  1278883 2,017.0000   1.0000           0.0005
1561137  1600462 2,026.0000   1.0000           0.0005